<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <form id="myform">
        <label for="pId">Id:</label>
        <input type="number" name="pId" id="pId" value="<%= product.id ? Number.parseInt(product.id) : 0 %>" required readonly>
        <label for="name">Name:</label>
        <input type="text" name="name" id="pname" value="<%= product.name %>" placeholder="eg kettle" required>
        <label for="price">Price:</label>
        <input type="number" name="price" id="price" value="<%= product.price %>" placeholder="eg 5000" required>
        <label for="description">Description:</label>
        <textarea name="description" id="description"><%= product.des %></textarea>
        <button type="submit" id="sub">Add</button>
        

    </form>

</body>

<script>

     const postData = async (pid, pname, description, proPrice) => {
            const res = await fetch('http://localhost:7000/update', {
                method: 'POST',
                headers: {'Content-Type' : 'application/json'},
                body: JSON.stringify({
                    id: pid,
                    name: pname,
                    desc: description,
                    price: proPrice,
                    img: ""
                })
            })
            const data = await res.json();
            console.log(data)
            return data;
        }

        document.getElementById('myform').addEventListener('submit', (e)=>{
            e.preventDefault();
            let pId = e.target.pId.value
            let pname = e.target.name.value
            let price = e.target.price.value
            let description = e.target.description.value

            let res = postData(pId, pname, description, price)

            if(res){
                console.log("Updated!")
            }
        })


</script>

</html>