<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    <section class="error">
        <h1>OOPS! <span>404</span></h1>
        <h2>The page you requested was not found!</h2>
        <p>Possible error: <%= error %></p>
        <a href="<%= backPage %>">Return</a>
    </section>
</body>
</html>