<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Preview</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        body{
            box-sizing: border-box;
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .proImg{
            position: relative;
            margin: auto;
        }
    </style>
</head>
<body>
    <img src="/images/<%= image %>" alt="<%= image %>" width="500" class="proImg">
</body>
</html>